<div id="<%= dom_id report %>" class="scaffold_record">
  <p>
    <strong>User:</strong>
    <%= report.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= report.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= report.grade %>
  </p>
</div>