<p id="notice"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user), class:"btn btn-outline-dark" %> |
  <%= link_to "Back to users", users_path, class:"btn btn-outline-dark" %>
  <br/><br/>
  <%= button_to "Destroy this user", user_path(@user), method: :delete, class:"btn btn-outline-dark" %>
</div>